.notifications-counter{
  color:white;
  background-color:red;  
  text-align:center;
  line-height:20px;
  width:20px;
  height:20px;
  border-radius:10px;
  margin:0px 0px -20px 0px;
  opacity: 0.7;  
  display:inline-block;
}
.notification-card{  
  padding:5px; 
  width:500px;  
  max-width:100%; 
}
.notification-card img {
  max-width:100% !important;      
}